<div class="categories-wrapper">
    <img src="logo_whitebg.png" alt="" id="top-logo" {{action "toHome"}}>
    {{#each bikes as |category|}}
        <div class='category-main' {{action "redirect" category}}><p class="category_name">{{category.name}}</p></div>
    {{/each}}
</div>