<div class="container-fluid index_main_container">
    <div class="row">
        {{site-banner}}
    </div>
    <div class="row index_triple_box">
        <div class="col-sm-3 triple_box">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ultricies tincidunt. Donec placerat
                velit orci, euismod ultricies ligula semper.</span>
        </div>
        <div class="col-sm-3 triple_box">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna turpis, hendrerit ut finibus quis, semper tincidunt
                velit. Suspendisse vulputate.
            </span>
        </div>
        <div class="col-sm-3 triple_box">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu augue metus. Quisque eleifend diam sit amet risus convallis
                lobortis.
            </span>
        </div>
    </div>
</div>

{{outlet}}