<div class="container-fluid container-parallax mx-0">


    <!--<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;">
        <h3>Live The Ride</h3>
    </div>-->

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">EXPERIENCE THE RIDE</span>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: Center;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h3>BE THE RIDE</h3>
                </div>
            </div>
            <div class="row index_triple_box">
                <div class="col triple_box">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu,
                        elementum ligula. Donec ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi
                        id dui hendrerit, dictum dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.</span>
                </div>
                <div class="col triple_box">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu, elementum ligula. Donec
                        ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi id dui hendrerit, dictum
                        dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.
                    </span>
                </div>
                <div class="col triple_box">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu, elementum ligula. Donec
                        ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi id dui hendrerit, dictum
                        dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur felis id mauris bibendum, at finibus
                mi luctus. Fusce convallis luctus nibh, eget eleifend purus accumsan id. Maecenas ut lacus non neque convallis
                consectetur sed ut turpis. Integer pellentesque nulla lorem, non tincidunt sem commodo.</p>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">PLEASE LORD HELP ME</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>WHAT AM I EVEN DOING WITH MY LIFE</p>
        </div>
    </div>

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">TEXT HERE!</span>
        </div>
    </div>
</div>
<!--<img class="banner-main" src="banner-main.jpg">
<div class="container">
    <div class="row index_triple_box">
        <div class="col-sm-4 triple_box">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ultricies tincidunt. Donec placerat
                velit orci, euismod ultricies ligula semper.</span>
        </div>
        <div class="col-sm-4 triple_box">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna turpis, hendrerit ut finibus quis, semper tincidunt
                velit. Suspendisse vulputate.
            </span>
        </div>
        <div class="col-sm-4 triple_box">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu augue metus. Quisque eleifend diam sit amet risus convallis
                lobortis.
            </span>
        </div>
    </div>
</div>
-->
<script>
    $(document).ready(function(){ ;
        $(".categories-wrapper").css('position', 'fixed').css('top','0');
    });
</script> 
{{outlet}}