<div class="container-fluid container-parallax mx-0">


    <!--<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: center;">
        <h3>Live The Ride</h3>
    </div>-->

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">EXPERIENCE THE RIDE</span>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: Center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="arrow_down">&#x25BD;</h2>
                    <h2 style="display: inline">ENJOY THE RIDE</h2>
                    <h2 class="arrow_down">&#x25BD;</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    {{item-showcase item=model}}
                </div>
            </div>
        </div>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:rgba(165, 163, 163, 0.671);font-size:25px;color: #f7f7f7;">LOREM IPSUM</span>
        </div>
    </div>

    <div style="position:relative;">
        <div class="container-fluid" style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: center;">
            <div class="row">
                <div class="col">
                    <h2 style="color:#fff">Lorem Ipsum</h2>
                </div>
            </div>
            <div class="row index_triple_box">
                <div class="col triple_box ml-10">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu,
                        elementum ligula. Donec ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi
                        id dui hendrerit, dictum dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.</span>
                </div>
                <div class="col triple_box">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu, elementum ligula. Donec
                        ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi id dui hendrerit, dictum
                        dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.
                    </span>
                </div>
                <div class="col triple_box mr-10">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo ullamcorper, finibus metus eu, elementum ligula. Donec
                        ut dictum ipsum, eu tincidunt sapien. Donec commodo fringilla lobortis. Morbi id dui hendrerit, dictum
                        dolor nec, aliquam tortor. Etiam ex metus, facilisis a lacus sed, vulputate.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:rgb(45, 75, 100);font-size:25px;color: #f7f7f7;">PLEASE LORD HELP ME</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:rgb(45, 75, 100);text-align:center;padding:50px 80px;">
            <h2 style="color:#fff; text-align:center;">Showcase an item here!</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur felis id mauris bibendum, at finibus
                mi luctus. Fusce convallis luctus nibh, eget eleifend purus accumsan id. Maecenas ut lacus non neque convallis
                consectetur sed ut turpis. Integer pellentesque nulla lorem, non tincidunt sem commodo.</p>
            <img id="index-showcase-image" src="CubeAgreeGTCSL.jpg" alt="">
            <br>
            <h2 style="margin-top: 3%; color:#fff">Additional info here</h2>

        </div>
    </div>

    <div class="bgimg-4">
        <div class="caption">
            <span class="border" style="background-color:#000;font-size:25px;color: #f7f7f7;">FOURTH LINE</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;">
            <h2 style="color:#fff; text-align:center;">More Lorem Ipsum Here!</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur felis id mauris bibendum, at finibus
                mi luctus. Fusce convallis luctus nibh, eget eleifend purus accumsan id. Maecenas ut lacus non neque convallis
                consectetur sed ut turpis. Integer pellentesque nulla lorem, non tincidunt sem commodo.</p>

        </div>
    </div>

    <div style="position:relative;">

    </div>

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">TEXT HERE!</span>
        </div>
    </div>
    <div class="container-fluid footer">
        <div class="container footer-content">
            <div class="row footer-block">
                <div class="col footer-link-list">
                    <h5>FAQ</h5>
                    <ul>
                        <li>
                            <a href="#">Question</a>
                        </li>
                        <li>
                            <a href="#">Question</a>
                        </li>
                        <li>
                            <a href="#">Question</a>
                        </li>
                        <li>
                            <a href="#">Question</a>
                        </li>
                    </ul>
                </div>
                <div class="col footer-link-list">
                    <h5>Security</h5>
                    <ul>
                        <li>
                            <a href="#">Point</a>
                        </li>
                        <li>
                            <a href="#">Point</a>
                        </li>
                        <li>
                            <a href="#">Point</a>
                        </li>
                    </ul>
                </div>
                <div class="col footer-link-list">
                    <h5>About</h5>
                    <ul>
                        <li>
                            <a href="#">Point</a>
                        </li>
                        <li>
                            <a href="#">Point</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row footer-block">
                <div class="col footer-link-list">
                    <h5>Shipping</h5>
                    <ul>
                        <li>
                            <a href="#">Point</a>
                        </li>
                        <li>
                            <a href="#">Point</a>
                        </li>
                        <li>
                            <a href="#">Point</a>
                        </li>
                    </ul>
                </div>
                <div class="col footer-link-list">
                    <h5>Payment</h5>
                    <ul>
                        <li>
                            <a href="#">Please don't</a>
                        </li>
                    </ul>
                </div>
                <div class="col footer-link-list">
                    <h5>GGWP;NORE</h5>
                    <ul>
                        <li>
                            <a href="#">Point</a>
                        </li>
                        <li>
                            <a href="#">Point</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $(".categories-wrapper").css('position', 'fixed').css('top', '0');
    });
</script> {{outlet}}